{% extends "layout.html" %}
{% load static %}

{% block body %}
    <h1>Hospital Management System</h1>

    <h2>{{ request.user.username }}</h2>

    <button class="btn btn-sm btn-outline-primary" id="dashboard">Dashboard</button>
    <button class="btn btn-sm btn-outline-primary" id="appointment">Appointment</button>
    <button class="btn btn-sm btn-outline-primary" id="patientslist">Patients List</button>
    <button class="btn btn-sm btn-outline-primary" id="registration">Patient Registration</button>
    <button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
    <a class="btn btn-sm btn-outline-primary" href="#">Log Out</a>
    <hr>

    <div id="dashboardview">
        Home
    </div>

    <div id="patientsview">
        Patients List
        
    </div>

    <div id="patientview"></div>

    <div id="registerview">
        
        <h3>Register new patient</h3>
        <form id="register-form" class="needs-validation" method="post" enctype=multipart/form-data>
            <div class="form-group">
                Nurse: <div>{{ request.user }}</div>
                <hr>
            </div>

            <div id="message"></div>
            {% csrf_token %}
            <!--{{ form.as_p }}-->
            <div class="form-group col-md-3">
                <input name="name" class="form-control" id="register-name"   placeholder="Name" required>
            </div>
            <div class="form-group col-md-3">
                <input name="surname" class="form-control" id="register-surname"   placeholder="Surname" required>
            </div>
            <div class="form-group col-md-3">
                <input  name="middlename" class="form-control" id="register-middlename"   placeholder="Middlename">
            </div>
            <div class="form-group col-md-3">
                <input  name="patient_ID" class="form-control" id="register-patient-id"   placeholder="Patient ID" required>
            </div>
            <!--<div class="form-group col-md-3">
                <input name="age" class="form-control" id="register-age" type="number" placeholder="Age"   required>
            </div>-->
            <div class="form-group col-md-3">
                <label for="birthday">Birthday:</label>
                <input type="date" id="register-birthdate" name="birthday">
            </div>
            <div class="form-group col-md-3">
                <input  name="phone" class="form-control" id="register-phone" placeholder="Phone" >
            </div>
            <div class="form-group col-md-3">
                <input  name="mobile" class="form-control" id="register-mobile"  placeholder="Mobile">
            </div>
            <div class="form-group col-md-3">
                <input  name="email" class="form-control" id="register-email"  placeholder="Email">
            </div>
            <div class="form-group col-md-3">
                <input  name="address" class="form-control" id="register-address" placeholder="Address" >
            </div>
            <div class="form-group col-md-3">
                <input  name="city" class="form-control" id="register-city" placeholder="City" >
            </div>
            <div class="form-group col-md-3">
                <input name="country" class="form-control" id="register-country" placeholder="Country" >
            </div>
            <div class="form-group">
                <label for="exampleFormControlFile1">Upload Image</label>
                <input type="file" class="form-control-file" id="imagefield">
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
{% endblock %}

{% block script %}
    
{% endblock %}